<h1>部位選択</h1>
<table class="table table-bordered table-condensed user-table">
 <td><%= link_to "胸", training_chest_user_path(@user), class: "btn btn-primary" %>
 <td><%= link_to "腕", training_arms_user_path(@user), class: "btn btn-primary" %>
 <td><%= link_to "太もも", training_thighs_user_path(@user), class: "btn btn-primary" %>
 <td><%= link_to "肩", training_shoulder_user_path(@user), class: "btn btn-primary" %>
 <td><%= link_to "背中", training_back_user_path(@user), class: "btn btn-primary" %>
 <td><%= link_to "腹筋", training_abs_user_path(@user), class: "btn btn-primary" %>
</table> 