<header class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to "Muscle App", root_path, id: "logo", class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to "ホーム", root_path, class: "nav-link" %></li>
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              メニュー <b class="caret"></b>
            </a>
            <div class="dropdown-menu">
              <%= link_to "マイページ", current_user, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "ログイン", login_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>